/** STYLING FOR THE PORTIFOLIO **/


/* the root selector */
:root {
    /* colors */
    --bc-1: white;

    /* values */
}

html {
    box-sizing: border-box;
}

/* nav bar styling */
#navbar{
    font-size: large;
    position: sticky;
    width: 100vw;
    height: 100px;
    align-items: center;
    top: 0;
    z-index: 10;
    background-color: coral;
}

#navbar>ul {
    display: flex;
    list-style-type: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 800;
    align-items: center;
}

nav.nav-link {
    text-decoration: none;
    padding: 4px;
}

/* body tyling */
body {
    overflow-x: hidden;
    padding-bottom: 0;
    margin-bottom: 0;
}
section{
    height: 100vh;
    width: 100vw;
}

/* footer styling */
footer{
    background-color: bisque;
}

