/** STYLING FOR THE PORTIFOLIO **/


/* the root selector */
:root {
    /* colors */
    --bc-1: white;

    /* values */
}

html {
    box-sizing: border-box;
}

/* nav bar styling */
#navbar{
    background-color: coral;
    color: aliceblue;
    font-size: large;
    position: sticky;
    width: 100vw;
    height: 40%;
    top: 0;
}

#navbar>ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    justify-items: right;
}

#navbar>li {
    list-style-type: none;
}

/* body tyling */
body {
    padding: 0;
    margin: 0;
}
section{
    height: 100vh;
    width: 100vw;
}

/* footer styling */
footer{
    background-color: bisque;
    height: 10%;
    bottom: 0;
    margin: 0;
}

