/** STYLING FOR THE PORTIFOLIO **/


/* the root selector */
:root {
    /* colors */
    --bc-1: white;

    /* values */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bc1);
    font-family: 'Lato', sans-serif;
}

li {
    list-style-type: none;
}

a {
    font-weight: bold;
    text-decoration: none;
}

/* nav bar styling */

nav {
    font-weight: 600;
}

.header {
    top: 0;
    width: 100%;
    min-height: 70px;
    padding: 0 25px;
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav>ul {
    width: 40vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-transform: uppercase;    
}

/* body tyling */
body {
    overflow-x: hidden;
    padding-bottom: 0;
    margin-bottom: 0;
    background: linear-gradient(15deg, aliceblue 20%, #898 30%, 20deg, grey 35%, antiquewhite 15%);
    color: antiquewhite;
}
section{
    height: 100vh;
    width: 100vw;
}

/* footer styling */
footer{
    background-color: bisque;
}

